
/*****************< 1.) MEMORY LAYOUT >*******************/

.memory{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.memory_title_memory h2{
    font-size: 30px;
    text-align: center;
    padding-bottom: 50px;
}

/*****************< 2.) ADD CARD and PROPERTIES >*******************/

#popup-plus{
    z-index: 9;/*ZINDEX*/
    display: flex;
} 

#popup-plus .content-popup {
    position: relative;
    background:#fff;
    border: 3px solid black;
    width:400px;
    height:230px;
    text-align:center;
    border-radius: 30px;
    margin: 0 15px 30px;

}

#popup-plus .close-btn {
    cursor:pointer;
    position:absolute;
    right:20px;
    top:20px;
    width:30px;
    height:30px;
    background:red;
    color:#fff;
    font-size:25px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border-radius:50%; 
}

/*Input*/

.wave-group {
    position: relative;
    margin-left: 20px;
}

.wave-group .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 150px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}

.wave-group .input:focus {
    outline: none;
}

.wave-group .label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    display: flex;
}

.wave-group .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: #5264AE;
}

.wave-group .bar {
    position: relative;
    display: block;
    width: 200px;
}

.wave-group .bar:before,.wave-group .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
    left: 50%;
}

.wave-group .bar:after {
    right: 50%;
}

.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
    width: 50%;
}

/*COLOR PICKER Save Btn*/

.color_saver .btn-add-file {
    outline: 0;
    border: 0;
    max-width: 140px;
    height: 50px;
    border-radius: 0.5em;
    box-shadow: 0 0.625em 1em 0 rgba(30, 143, 255, 0.35);
    overflow: hidden;
    margin-left: 150px;
    margin-top: -30px;
}
    
.color_saver.btn-add-file div {
    transform: translateY(0px);
    width: 100%;
}
    
.color_saver.btn-add-file,
.color_saver.btn-add-file div {
    transition: 0.6s cubic-bezier(.16,1,.3,1);
}   
    
.color_saver.btn-add-file div span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0.75em 1.125em;
}

.color_saver.btn-add-file div:nth-child(1) {
    background-color: #1e90ff;
}

.color_saver.btn-add-file div:nth-child(2) {
    background-color: #21dc62;
}

.color_saver.btn-add-file:hover {
    box-shadow: 0 0.625em 1em 0 rgba(33, 220, 98, 0.35);
    cursor: pointer;
}

.color_saver.btn-add-file:hover div {
    transform: translateY(-50px);
}

.color_saver.btn-add-file p {
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
}

.color_saver.btn-add-file:active {
    transform: scale(0.95);
}

/*Color Picker Styling*/

.inputColorHasNumber{
    display: none;
}
#user-container-title-text{
    display: none;
}

.colorDiv{
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    margin-top: 15px;
    padding-bottom: 10px;
}

.colorDiv p{
    font-weight: 400;
    color: #5264AE;
    font-size: 14px;
}

.color-picker{
    border-radius: 30px;
    margin-top: 0px;
    width: 200px;
}

#colorPicker{
    border: none;
    height: 40px;
    width: 100px;
    padding: 0px;
}

.popup-title{
    padding-bottom: 25px;
    margin-top: 10px;
}

.btn-add-file {
    position: relative;
    background-color: transparent;
    color: black;
    font-size: 13px;
    font-weight: 600;
    border-radius: 10px;
    width: 120px;
    height: 60px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(51, 51, 51, 0.2);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    margin-right: 90px;
    margin-top: -13px;
}

.btn-add-file::before {
    content: "Create";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    transform: translate(0%,90%);
    z-index: 99;
    position: relative;
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.btn-add-file::after {
    content: "Hover me";
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform-origin: top;
    transform: translate(0%,-100%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.btn-add-file:hover::before {
    transform: translate(0%,0%);
}

.btn-add-file:hover::after {
    transform: translate(0%,-200%);
}

.btn-add-file:focus {
    outline: none;
}

.btn-add-file:active {
    scale: 0.95;
}

.bottom-add-folder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 440px;
}
.memory .ag-format-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-left: 100px;
}

.memory .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0;
  }

/*Plus*/
    
.ag-courses_item_plus {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    box-shadow: rgba(0,0,0,1.0);
    margin-right: 5px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
    min-width: 300px;
    margin-left: 23px;
}

.ag-courses-item_link_plus {
    display: block;
    padding: 30px 20px;
    background-color: none;
    border: 2px dashed black;
    border-radius: 30px;
    overflow: hidden;
    width: 100%;
    min-width: 300px;
    position: relative;
}

.ag-courses-item_link_plus:hover{
    background-color: #fff;
    transition: ease-in-out 0.3s;
}

.ag-courses-item_title_plus{
    min-height: 80px;
    margin: 45px 170px 0px;
    font-weight: bold;
    font-size: 30px;
    color: black;
    z-index: 2;
    position: relative;
}

.ag-courses-item_bg_plus{
    background-color: none;
}


/* ============MEMORY=============== */

/*LIGHT MODE*/
#light  .memory_title_memory h2{
    color: var(--text-color);;
      }
      
    #light .popup .content-popup {
        background:white;
        border: 3px solid black;
      }
    /*DARK MODE*/
    #dark  .memory_title_memory h2{
        color: var(--dark-text-color);;
          }
          
    #dark .popup .content-popup {
            background:var(--dark-primary-color-light);
            border: 3px solid black;
          } 
    
          #dark .popup .popup-title {
            color: var(--dark-text-color);
       
          } 
    
          #dark .popup .label-char{
            color: var(--dark-primary-color);
          
          }
    
          #dark .colorDiv p{
            color: var(--dark-primary-color);
          }
          #dark #colorPicker{
            background-color: var(--dark-primary-color-light);
          }

@media (max-width: 768px) {
.memory .ag-format-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding-left: 0px;
}
}