
.uploadMediaModal{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.uploadMediaModalHeader-Dark{
    background-color: black;
    color: white;
    border: 0px solid #9effb1;
    box-shadow: 0px 1px 5px 0px #000000;
    border-bottom: 1px solid #9effb1;
    width: 100%;
}

.uploadMediaModalHeader-Light{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 0px solid #9effb1;
    box-shadow: 0px 1px 5px 0px #000000;
    border-bottom: 1px solid #000000;
    width: 100%;
}

.uploadMediaModalBody-Dark{
    background-color: rgb(18, 17, 17);
    color: white;
    border: 0px solid #9effb1;
    box-shadow: inset 1px 0px 5px 1px rgb(0, 0, 0);
    border-radius: 5px;
    border-bottom: 0px solid #ffffff;
    border-top: 0px solid #ffffff;
    border: 0px solid rgb(98, 97, 97);
    border-bottom: 0px solid #ffffff;
    border-top: 0px solid #ffffff;
}

.uploadMediaModalBody-Light{
    background-color: rgb(255, 255, 255);
    color: white;
    border: 0px solid #9effb1;
    box-shadow: inset 1px 0px 5px 1px rgb(0, 0, 0);
    border-radius: 5px;
    border-bottom: 0px solid #ffffff;
    border-top: 0px solid #ffffff;
    border: 0px solid rgb(98, 97, 97);
    border-bottom: 0px solid #ffffff;
    border-top: 0px solid #ffffff;
}

.uploadMediaModalFooter-Dark{
    background-color: black;
    color: white;
    border: 0px solid #9effb1;
    box-shadow: 0px 1px 5px 0px #000000;
    border-top: 1px solid #9effb1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.uploadMediaModalFooter-Light{
    background-color: rgb(253, 253, 253);
    color: white;
    border: 0px solid #8ff2ff;
    box-shadow: 0px 1px 5px 0px #000000;
    border-top: 1px solid #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}


@media (max-width: 995px) {
     .uploadMediaModal{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 0px;
    }
     .uploadMediaModalHeader{
        background-color: black;
        color: white;
        border: 2px solid #9effb1;
        box-shadow: 1px -2px 10px 1px #9effb1;
        border-bottom: 0px solid #9effb1;
    }
    
     .uploadMediaModalBody{
        background-color: black;
        color: white;
        border: 0px solid #9effb1;
        align-items: center;
        padding-top: 120px;
        border-bottom: 0px solid #9effb1;
        border-top: 1px solid #606160;
    }
    
     .uploadMediaModalFooter{
        background-color: black;
        color: white;
        border: 2px solid #9effb1;
        box-shadow: 1px 2px 10px 1px #9effb1;
        border-top: 1px solid #606160;
    
    }
}