

.f-settings{
    margin-top: 100px;
}

.f-title-sections{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    
}

.section-settings-left{
    padding: 5px;
    border: 2px solid black;
}
.section-settings-right{
    padding: 5px;
    border: 2px solid black;
}

.section-settings{
    padding: 5px;
    border: 2px solid black;
    border-left: 0px solid black;

}

.section-settings:hover{
    transform: scale(1.03);
    cursor: pointer;
    border-left: 1px solid black;
    border-right: 2px solid black;
}
.section-settings-left:hover{
    transform: scale(1.03);
    cursor: pointer;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.profile-settings{
    margin-top: 100px;
}

.profile-title-txt{
    font-weight: 500;
    font-size: 20px;
}

.profile-title-desc{
    font-weight: 500;
    opacity: 0.6;
}

.title-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.profile-first-row{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 990px;
    justify-content: space-between;
}

.profile-first-row-pass{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 1450px;
    justify-content: space-between;
}

.pass-inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
}

.profile-first-row-picture{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    width: 1500px;
    align-items: center;
    justify-content: space-between;
}

.profile-first-row-details{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 1400px;
    justify-content: space-between;
}





.settings a{
    color: black;
}

.payment-settings{
    margin-top: 200px;
}

.support-settings{
    margin-top: 200px;
 
}

.profile_input{
    background-color: black;
    height: 100px;

    border: 1px solid black;
}

.submit-settings-btn:hover{
    transition: ease-in-out .2s;
    transform: scale(1.06);
}
.submit-settings-btn:active{
    transition: ease-in-out .1s;
    transform: scale(0.89);
}


.history-f-row{
   
    padding-top: 20px;
    display: flex;
    margin-left: 100px;
    flex-direction: row;
    justify-content: space-between;
    width: 1300px;
}

.history-f-row2{
    padding-top: 20px;
    display: flex;
    margin-left: 100px;
    flex-direction: column;
    justify-content: space-between;
    width: 1300px;
    margin-bottom: 200px;
}

.history-data-row{
    padding-top: 20px;
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
}


/* ============SETTINGS=============== */

#dark .settings hr{
    border-color: black;
  }
  
  #dark .settings h6,#dark .settings h4,#dark .settings h5{
    color: var(--primary-color-light);
    font-weight: 500;
   
  }
  
  #dark .settings h1{
    color: var(--primary-color-light);
   
  }
  #dark .settings .profile-title-txt{
    color: var(--dark-text-color);
  }
  
  #dark .settings .highlighter{
    color: var(--dark-primary-color);
    opacity: 0.8;
  }
   
  #dark .settings .profile-first-row h5{
    color: var(--primary-color-light);
  }
  
  #dark .settings .section-settings-left{
    padding: 5px;
    border: 2px solid var(--dark-primary-color);
    color: var(--text-color);
  }
  
  #dark .settings .section-settings-right{
    padding: 5px;
    border: 2px solid var(--dark-primary-color);
    border-left: 0px solid black;
    color: var(--text-color);
  }
  
  #dark .settings .section-settings{
    padding: 5px;
    border: 2px solid var(--dark-primary-color);
    border-left: 0px solid black;
    color: var(--text-color);
  
  }
  
  #dark .settings .section-settings:hover{
    transform: scale(1.06);
    cursor: pointer;
    color: var(--dark-text-color);
    border-left: 3px solid black;
  
    border-right: 3px solid black;
  }
  #dark .settings .section-settings-left:hover{
    transform: scale(1.03);
    cursor: pointer;
    color: var(--dark-text-color);
    border-left: 2px solid var(--dark-primary-color);
    border-right: 3px solid black;
  }
  #dark .settings .section-settings-right:hover{
    transform: scale(1.06);
    cursor: pointer;
    color: var(--dark-text-color);
    border-right: 2px solid var(--dark-primary-color);
    border-left: 4px solid black;
  }
  
  #dark .settings .submit-settings-btn{
    background-color: var(--dark-primary-color);
    font-weight: 400;
    box-shadow: rgb(74, 74, 83);
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    cursor: pointer;
  }
  
  #dark .settings input{
    background-color: var(--dark-primary-color-light);
    color:var(--dark-text-color);
    font-weight: 400;
    padding: 10px;
    border: 1px solid var(--dark-primary-color);
    opacity: 0.8;
  }
  
  #dark .settings .manage-payment-button{
    background-color: var(--dark-primary-color);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    border: 2px solid black;
  }
  
  #dark .settings .manage-payment-button:hover{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: ease .1s;
    transform: scale(1.06);
  }
  #dark .settings .manage-payment-button:active{
  
    transition: ease .1s;
    transform: scale(0.92);
  }
  
  #dark .settings .history-table-title{
    color: var(--dark-text-color);
  }
  
  
  
  #light .settings hr{
    border-color: white;
  }
  
  #light .settings h6,#light .settings h4,#light .settings h5{
    color: var(--color-light);
    font-weight: 600;
   
  }
  
  #light .settings h1{
    color: var(--color-light);
   
  }
  #light .settings .profile-title-txt{
    color: var(--color-light);
  }
  
  
  #light .settings .highlighter{
    color: var(--dark-sidebar-color);
    opacity: 0.8;
  }
  
  #light .settings .section-settings-left{
    padding: 5px;
    border: 2px solid var(--primary-color);
    color: var(--dark-primary-color-light);
  }
  
  #light .settings .section-settings-right{
    padding: 5px;
    border: 2px solid var(--primary-color);
    border-left: 0px solid gray;
    color: var(--dark-primary-color-light);
  }
  
  #light .settings .section-settings{
    padding: 5px;
    border: 2px solid var(--primary-color);
    border-left: 0px solid gray;
    color: var(--dark-primary-color-light);
  
  }
  
  #light .settings .section-settings:hover{
    transform: scale(1.06);
    cursor: pointer;
    border-left: 3px solid gray;
    color: var(--color-light);
    border-right: 3px solid gray;
  }
  #light .settings .section-settings-left:hover{
    transform: scale(1.03);
    cursor: pointer;
    border-left: 2px solid var(--primary-color);
    border-right: 3px solid gray;
    color: var(--color-light);
  }
  #light .settings .section-settings-right:hover{
    transform: scale(1.06);
    cursor: pointer;
    border-right: 2px solid var(--primary-color);
    border-left: 4px solid gray;
    color: var(--color-light);
  }
  
  #light .settings .submit-settings-btn{
    background-color: var(--primary-color);
    font-weight: 400;
    box-shadow: rgb(74, 74, 83);
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    color: black;
    cursor: pointer;
  }
  
  #light .settings input{
    background-color: var(--primary-color-light);
    color:var(--text-color);
    font-weight: 400;
    padding: 10px;
    border: 1px solid var(--primary-color);
    opacity: 0.8;
  }
  
  #light .settings .manage-payment-button{
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    border: 2px solid black;
  }
  
  #light .settings .manage-payment-button:hover{
    background-color: var(--color-light);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: ease .1s;
    transform: scale(1.06);
  }
  #light .settings .manage-payment-button:active{
  
    transition: ease .1s;
    transform: scale(0.92);
  }
  
  
  
  


@media (1590px <= width <= 1750px) {

.settings{
    width: 1350px;
}

.settings .profile-first-row{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 790px;
    justify-content: space-between;
}
.settings .profile-first-row-pass{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 1250px;
    justify-content: space-between;
}

.settings .pass-inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
}

.settings .profile-first-row-picture{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    width: 1300px;
    align-items: center;
    justify-content: space-between;
}

.settings .profile-first-row-details{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 1200px;
    justify-content: space-between;
}

.history-f-row{
   
    padding-top: 20px;
    display: flex;
    margin-left: 100px;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
}

.history-f-row2{
    padding-top: 20px;
    display: flex;
    margin-left: 100px;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    margin-bottom: 200px;
}

.history-data-row{
    padding-top: 20px;
    width: 1400px;
    display: flex;
    flex-direction: row;
  
    justify-content: space-between;
 
}


    
}

@media (1450px <= width < 1590px) {

    .settings{
        width: 1200px;
    }

    .profile-first-row{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        width: 640px;
        justify-content: space-between;
    }
    .profile-first-row-pass{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        width: 1100px;
        justify-content: space-between;
    }
    
    .pass-inputs{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 700px;
    }
    
    .profile-first-row-picture{
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        width: 1113px;
        align-items: center;
        justify-content: space-between;
    }
    
    .profile-first-row-details{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        width: 1100px;
        justify-content: space-between;
    }

    .history-f-row{
   
        padding-top: 20px;
        display: flex;
        margin-left: 100px;
        flex-direction: row;
        justify-content: space-between;
        width: 1000px;

    }
    
    .history-f-row2{
        padding-top: 20px;
        display: flex;
        margin-left: 100px;
        flex-direction: row;
        justify-content: space-between;
        width: 1000px;
        margin-bottom: 200px;
    }
    
    .history-data-row{
        padding-top: 20px;
        width: 1200px;
        display: flex;
        flex-direction: row;
      
        justify-content: space-between;
     
    }
      
        
}

@media (1350px <= width < 1450px) {

        .settings{
            width: 1100px;
            
        }
    
        .profile-first-row{
            margin-top: 50px;
            display: flex;
            flex-direction: row;
            width: 740px;
            justify-content: space-between;
        }
        .profile-first-row-pass{
            margin-top: 50px;
            display: flex;
            flex-direction: row;
            width: 1000px;
            justify-content: space-between;
        }
        
        .pass-inputs{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 700px;
        }
        
        .profile-first-row-picture{
            margin-top: 100px;
            display: flex;
            flex-direction: row;
            width: 1013px;
            align-items: center;
            justify-content: space-between;
        }
        
        .profile-first-row-details{
            margin-top: 50px;
            display: flex;
            flex-direction: row;
            width: 1100px;
            justify-content: space-between;
        }

        .history-f-row{
   
            padding-top: 20px;
            display: flex;
            margin-left: 100px;
            flex-direction: row;
            justify-content: space-between;
            width: 900px;
    
        }
        
        .history-f-row2{
            padding-top: 20px;
            display: flex;
            margin-left: 100px;
            flex-direction: row;
            justify-content: space-between;
            width: 900px;
            margin-bottom: 200px;
        }
        
        .history-data-row{
            padding-top: 20px;
            width: 1100px;
            display: flex;
            flex-direction: row;
          
            justify-content: space-between;
         
        }
          
            
}

@media (1024px <= width < 1350px) {

    .settings{
        width: 1000px;
    
    }

    .profile-first-row{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        width: 940px;
        justify-content: space-between;
    }
    .profile-first-row-pass{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        width: 1000px;
        justify-content: space-between;
    }
    
    .pass-inputs{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 700px;
    }
    
    .profile-first-row-picture{
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        width: 1013px;
        align-items: center;
        justify-content: space-between;
    }
    
    .profile-first-row-details{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        width: 1000px;
        justify-content: space-between;
    }

    .history-f-row{
   
        padding-top: 20px;
        display: flex;
        margin-left: 100px;
        flex-direction: row;
        justify-content: space-between;
        width: 800px;

    }
    
    .history-f-row2{
        padding-top: 20px;
        display: flex;
        margin-left: 100px;
        flex-direction: row;
        justify-content: space-between;
        width: 800px;
        margin-bottom: 200px;
    }
    
    .history-data-row{
        padding-top: 20px;
        width: 1000px;
        display: flex;
        flex-direction: row;
      
        justify-content: space-between;
     
    }
      
        
}

