
.settings{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.f-settings{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.f-title-sections{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    width: 60%;
}

.f-title-sections h5{
  font-size: 15px;
}


.section-settings-left{
    padding: 7px 15px;
    border: 2px solid black;
}
.section-settings-right{
    padding: 7px 15px;

    border: 2px solid black;
}

.section-settings{
    padding: 7px 15px;
    border: 2px solid black;
    border-left: 0px solid black;

}

.section-settings:hover{
    transform: scale(1.03);
    cursor: pointer;
    border-left: 1px solid black;
    border-right: 2px solid black;
}
.section-settings-left:hover{
    transform: scale(1.03);
    cursor: pointer;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.profile-settings{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
}

.profile-title-txt{
    font-weight: 500;
    font-size: 25px;
}

.profile-title-desc{
    font-weight: 500;
    opacity: 0.6;
}

.title-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-row h5{
  font-size: 17px;
  opacity: 0.3;
}

.profile-first-row{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.profile-first-row-pass{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.pass-inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}

.pass-inputs input{
  font-weight: 400;
  padding: 10px;
  height: 50px;
  width: 300px;
  border-radius: 10px;
}




.profile-first-row-picture{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: space-between;
}

.profile-first-row-details{
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.profile-first-row-details h5{
  font-size: 15px;
}





.settings a{
    color: black;
}

.payment-settings{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}



.support-settings{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
 
}

.profile_input{
    background-color: black;
    height: 100px;

    border: 1px solid black;
}

.submit-settings-btn:hover{
    transition: ease-in-out .2s;
    transform: scale(1.06);
}
.submit-settings-btn:active{
    transition: ease-in-out .1s;
    transform: scale(0.89);
}


.history-f-row{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}



.history-f-row2{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 200px;
}

.history-data-row{
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




.settings input{
  font-weight: 400;
  padding: 10px;
  height: 50px;
  width: 300px;
  border-radius: 10px;
}


/* ============SETTINGS=============== */

#dark .settings hr{
    border-color: black;
  }
  
  #dark .settings h6,#dark .settings h4,#dark .settings h5{
    color: var(--primary-color-light);
    font-weight: 500;
   
  }
  
  #dark .settings h1{
    color: var(--primary-color-light);
   
  }
  #dark .settings .profile-title-txt{
    color: var(--dark-text-color);
  }
  
  #dark .settings .highlighter{
    color: var(--dark-primary-color);
    opacity: 0.8;
  }
   
  #dark .settings .profile-first-row h5{
    color: var(--primary-color-light);
  }
  
  #dark .settings .section-settings-left{
    border: 2px solid var(--dark-primary-color);
    color: var(--text-color);
  }
  
  #dark .settings .section-settings-right{
  
    border: 2px solid var(--dark-primary-color);
    border-left: 0px solid black;
    color: var(--text-color);
  }
  
  #dark .settings .section-settings{
 
    border: 2px solid var(--dark-primary-color);
    border-left: 0px solid black;
    color: var(--text-color);
  
  }
  
  #dark .settings .section-settings:hover{
    transform: scale(1.06);
    cursor: pointer;
    color: var(--dark-text-color);
    border-left: 3px solid black;
  
    border-right: 3px solid black;
  }
  #dark .settings .section-settings-left:hover{
    transform: scale(1.03);
    cursor: pointer;
    color: var(--dark-text-color);
    border-left: 2px solid var(--dark-primary-color);
    border-right: 3px solid black;
  }
  #dark .settings .section-settings-right:hover{
    transform: scale(1.06);
    cursor: pointer;
    color: var(--dark-text-color);
    border-right: 2px solid var(--dark-primary-color);
    border-left: 4px solid black;
  }
  
  #dark .settings .submit-settings-btn{
    background-color: var(--dark-primary-color);
    font-weight: 400;
    box-shadow: rgb(74, 74, 83);
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    cursor: pointer;
  }
  
  #dark .settings input{
    background-color: var(--dark-primary-color-light);
    color:var(--dark-text-color);
    border: 1px solid var(--dark-primary-color);
    opacity: 0.8;
  }
  
  #dark .settings .manage-payment-button{
    background-color: var(--dark-primary-color);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    border: 2px solid black;
  }
  
  #dark .settings .manage-payment-button:hover{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: ease .1s;
    transform: scale(1.06);
  }
  #dark .settings .manage-payment-button:active{
  
    transition: ease .1s;
    transform: scale(0.92);
  }
  
  #dark .settings .history-table-title{
    color: var(--dark-text-color);
  }
  
  
  
  #light .settings hr{
    border-color: white;
  }
  
  #light .settings h6,#light .settings h4,#light .settings h5{
    color: var(--color-light);
    font-weight: 600;
   
  }
  
  #light .settings h1{
    color: var(--color-light);
   
  }
  #light .settings .profile-title-txt{
    color: var(--color-light);
  }
  
  
  #light .settings .highlighter{
    color: var(--dark-sidebar-color);
    opacity: 0.8;
  }
  
  #light .settings .section-settings-left{
    border: 2px solid var(--primary-color);
    color: var(--dark-primary-color-light);
  }
  
  #light .settings .section-settings-right{
    border: 2px solid var(--primary-color);
    border-left: 0px solid gray;
    color: var(--dark-primary-color-light);
  }
  
  #light .settings .section-settings{
    border: 2px solid var(--primary-color);
    border-left: 0px solid gray;
    color: var(--dark-primary-color-light);
  
  }
  
  #light .settings .section-settings:hover{
    transform: scale(1.06);
    cursor: pointer;
    border-left: 3px solid gray;
    color: var(--color-light);
    border-right: 3px solid gray;
  }
  #light .settings .section-settings-left:hover{
    transform: scale(1.03);
    cursor: pointer;
    border-left: 2px solid var(--primary-color);
    border-right: 3px solid gray;
    color: var(--color-light);
  }
  #light .settings .section-settings-right:hover{
    transform: scale(1.06);
    cursor: pointer;
    border-right: 2px solid var(--primary-color);
    border-left: 4px solid gray;
    color: var(--color-light);
  }
  
  #light .settings .submit-settings-btn{
    background-color: var(--primary-color);
    font-weight: 400;
    box-shadow: rgb(74, 74, 83);
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    color: black;
    cursor: pointer;
  }
  
  #light .settings input{
    background-color: var(--primary-color-light);
    color:var(--text-color);
    font-weight: 400;
    padding: 10px;
    border: 1px solid var(--primary-color);
    opacity: 0.8;
  }
  
  #light .settings .manage-payment-button{
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    border: 2px solid black;
  }
  
  #light .settings .manage-payment-button:hover{
    background-color: var(--color-light);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: ease .1s;
    transform: scale(1.06);
  }
  #light .settings .manage-payment-button:active{
  
    transition: ease .1s;
    transform: scale(0.92);
  }
  
  
  
@media (max-width: 768px) {
  .profile-title-txt{
    font-weight: 500;
    font-size: 18px;
}

.title-row h5{
  font-size: 13px;
  opacity: 0.3;
}

.settings input{
  font-weight: 400;
  padding: 10px;
  height: 40px;
  width: 100px;
  border-radius: 10px;
}

.profile-first-row div h5{
  font-size: 15px;
}

.profile-first-row div h6{
  font-size: 10px;
}

.pass-inputs input{
  font-weight: 400;
  padding: 10px;
  height: 40px;
  width: 100px;
  border-radius: 10px;
}

.profile-first-row-pass div h5{
  font-size: 15px;
}

.profile-first-row-pass div h6{
  font-size: 10px;
}

.profile-first-row-picture{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  align-items: center;
  justify-content: space-between;
}

.profile-first-row-picture h5{
  font-size: 15px;
}

.profile-first-row-picture h6{
  font-size: 10px;
}


.profile-first-row-details h5{
  font-size: 7px;
}

.profile-first-row-details h6{
  font-size: 7px;
}

.history-f-row h3{
  font-size: 15px;
}

.history-data-row h6{
  font-size: 10px;
}

.history-data-row h5{
  font-size: 10px;
}

}
