@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #e4e2e2;
    --primary-color: #6fe9d0;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    /* ====== DARK ====== */
    --dark-body-color: #171717;
    --dark-sidebar-color: #141414;
    --dark-primary-color: #9effb1;
    --dark-primary-color-light: #3a3b3c;
    --dark-toggle-color: #9effb1;
    --dark-text-color: #ccc;
    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    margin: 0;
    padding: 0;
}





/*::selection{
    background-color: var(--primary-color);
    color: #fff;
}*/
#dark {
background-color: var(--dark-body-color);
min-height: 100vh;
transition: all 0.3s ease;
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
}
#light {
background-color: var(--body-color);
min-height: 100vh;
transition: all 0.3s ease;
display: flex;
flex-direction: column;
align-items: center;
}



/* ============SIDEBAR ALL=============== */

.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}

.sidebar header{
    position: relative;
    height: 40px;
    margin-top: 10px;
}
.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}
header .image-text .profession{
    font-size: 16px;
    display: block;
    opacity: 0.4;
    margin-top:-10px ;
}

#dark .profession span{
    color: var(--dark-primary-color);
}

#light .profession span{
    color: #079270;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}


#light .sidebar .menu{
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 0.1px solid black;
}

#dark .sidebar .menu{
    margin-top: 40px;
    border-top: 2px solid rgb(173, 173, 173);
    border-bottom: 0.1px solid rgb(255, 255, 255);
}

.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}


.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}
.mode .sun-moon i{
    position: absolute;
}
#dark .mode .sun-moon i.sun{
    opacity: 0;
}

#light .menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
 .menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.menu-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -32px;
}

/* ===== Sidebar ===== */
/*DARK-MODE*/
.sidebaropener{
  display: none;
}

#dark .sidebar{
    position: fixed;
    background-color: var(--dark-sidebar-color);
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 12px;
    transition: all 0.3s ease;
    z-index: 9;   /*ZINDEX*/
    box-shadow: 1px 1px 10px 0px rgb(6, 6, 6);
}

#dark .sidebar .menu-bar .nav-text{
 padding-left: 1px;
}

#dark .sidebar header .logo-text{
  padding-left: 15px;
 }

#dark .sidebar.close{
    width: 88px;
}

#dark .sidebar .text,
#dark .sidebar .icon{
    color: rgb(158, 158, 158);
    transition: var(--tran-03);
}

#dark .sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--dark-primary-color);
    color: var(--dark-sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}
#dark .sidebar header .toggle{
    color: var(--text-color);
}

#dark .sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

#dark .sidebar li a:hover{
    cursor: pointer;
    background-color: var(--dark-primary-color);
}

#dark .nav-link-drop.active{
    background-color: var(--dark-primary-color);
    opacity: 0.6;
    border-radius: 20px;
}

#dark .sidebar li a:hover .icon,
#dark .sidebar li a:hover .text{
    color: var(--dark-sidebar-color);
}
#dark .sidebar li a:hover .icon,
#dark .sidebar li a:hover .text{
    color: var(--dark-text-color);
}

#dark .sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--dark-primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

#dark .toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--dark-toggle-color);
    transition: var(--tran-05);
}
#dark .switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--dark-sidebar-color);
    transition: var(--tran-04);
}
#dark .switch::before{
    right: 20px;
}

#dark .sidebar.close .mode-text1{
    display: none;
    
}


#dark .mode-text1{
    opacity: 1;
    padding-left: 1px;
    
}
#dark .mode-text2{
    display: none;
}

#dark .mode .sun-moon i.sun{
    opacity: 0;
}
#dark .mode .sun-moon i.moon{
    opacity: 1;
}

/*LIGHT-MODE*/

#light .sidebar{
    position: fixed;
    background-color: var(--sidebar-color);
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    transition: all 0.3s ease;
    z-index: 9;
    box-shadow: 1px 1px 10px 0px rgb(151, 151, 151);
}

#light .sidebar.close{
    width: 88px;
}

#light .sidebar .menu-bar .nav-text{
    padding-left: 1px;
}

#light .sidebar header .logo-text{
    padding-left: 15px;
}

#light .sidebar .text,
#light .sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

#light .sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}
#light .sidebar header .toggle{
    color: var(--text-color);
}

#light .sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

#light .sidebar li a:hover{
    cursor: pointer;
    background-color: var(--primary-color);
}

#light .sidebar .nav-link-drop.active{
    background-color: var(--primary-color);
    opacity: 0.6;
    border-radius: 20px;
}

#light .sidebar li a:hover .icon,
#light .sidebar li a:hover .text{
    color: var(--sidebar-color);
}
#light .sidebar li a:hover .icon,
#light .sidebar li a:hover .text{
    color: var(--text-color);
}

#light .sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

#light .toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: rgb(72, 71, 71);
    transition: var(--tran-05);
}
#light .switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}
#light .switch::before{
    left: 20px;
}

#light .sidebar.close .mode-text2{
    display: none;
}

#light .mode-text2{
    opacity: 1;
    padding-left: 1px;
    
}
#light .mode-text1{
    display: none;
}

#light.mode .sun-moon i.sun{
    opacity: 1;
}
#light .mode .sun-moon i.moon{
    opacity: 0;
}

#dark .drop-down-arrow {
    width: 25px;
    height: 25px;
    color: #9effb1;
    transition: var(--tran-03);
}

#light .drop-down-arrow {
    width: 20px;
    height: 20px;
    color: #3c3c3c;
    transition: var(--tran-03);
}

#dark .sidebar li a:hover .drop-down-arrow {
    color: white;
}

#light .sidebar li a:hover .drop-down-arrow {
    color: rgb(0, 0, 0);
}

.drop-down-arrow.rotate{
    transform: rotate(90deg);
    transition: var(--tran-03);
}

/*========<  DROP DOWN FOLDERS CONTAINER  > ============*/

#dark .sidebar.close .dropped-folders-container{
    display: none;
}

#light .sidebar.close .dropped-folders-container{
    display: none;
}

#dark .sidebar.close .drop-down-arrow{
    display: none;
}

#light .sidebar.close .drop-down-arrow{
    display: none;
}

#light .dropped-folders-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    padding: 0px 0px;
    max-height: 250px;
    height: 300px;
    overflow-y: scroll; 
    direction: rtl;
    box-shadow: inset 0px 0px 2px 3px rgb(0 0 0 / 20%);
    background-color: rgb(224, 224, 224);
    transition: ease-in-out 0.3s;
}

#dark .dropped-folders-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    padding: 0px 0px;
    max-height: 250px;
    height: 300px;
    overflow-y: scroll; 
    direction: rtl;
    box-shadow: inset 0px 0px 10px 2px rgb(0 0 0 / 20%);
    background-color: var(--dark-sidebar-color);
    transition: ease-in-out 0.3s;
}

.dropped-folders-container::-webkit-scrollbar {
    width: 5px;
}

/* Track */
#dark .dropped-folders-container::-webkit-scrollbar-track {
    background: white;
}

#light .dropped-folders-container::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
#dark .dropped-folders-container::-webkit-scrollbar-thumb {
    background: var(--dark-primary-color);
}

#light .dropped-folders-container::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    transition: var(--tran-03);
}

/* Handle on hover */
#light .dropped-folders-container::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

#dark .dropped-folders-container::-webkit-scrollbar-thumb:hover {
    background: #000000;
}

/**/

#light .folder-box {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 20px;
    width: 100%;
    align-items: center;
    border-right: 2px solid black;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
    cursor: pointer;
    transition: var(--tran-03);
    margin-bottom: 15px;
    color: black;
    background-color: rgb(255, 255, 255);
}

#dark .folder-box {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 20px;
    width: 100%;
    align-items: center;
    border-right: 2px solid rgb(255, 254, 254);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: var(--tran-03);
    margin-bottom: 15px;
    background-color: rgb(27, 27, 27);
}

/**/

#light .folder-box:hover {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 20px;
    width: 100%;
    align-items: center;
    border-right: 4px solid black;
    cursor: pointer;
    transition: var(--tran-03)
}

#dark .folder-box:hover {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px 20px;
    width: 100%;
    align-items: center;
    border-right: 4px solid var(--dark-primary-color);
    cursor: pointer;
    transition: var(--tran-03)
}

/**/

#dark .folder-box:hover h3 {
    font-weight: 600;
}

#light .folder-box:hover h3 {
    font-weight: 600;
}

/**/

#light .folder-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

#dark .folder-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

/**/

#dark .folder-box h3 {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
    color: white;
}

#light .folder-box h3 {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
}

/**/

#dark .create-folder-btn-sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 1px;
    border-radius: 10px;
    border: 1px solid var(--dark-primary-color);
}


#dark .create-folder-btn-sidebar:hover h5{
    opacity: 1;
}

#light .create-folder-btn-sidebar:hover h5{
    opacity: 1;
}

#light .create-folder-btn-sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 1px;
    border-radius: 10px;
    border: 2px solid black;
}

/**/

#dark .create-folder-btn-sidebar h5{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: white;
    opacity: 0.6;
    cursor: pointer;
}

#light .create-folder-btn-sidebar h5{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.6;
    cursor: pointer;
}

/* ============ RESPONSIVENESS =============== */

@media (max-width: 768px) {
.sidebar{
display:none;
}
.sidebaropener{
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--dark-toggle-color);
    cursor: pointer;
}

}

