
/*****************< 1.) Welcome Row >*******************/
.cloud{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding-right: 50px;

}
.cloud-title{
    font-size: 20px;
}

.welcome-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

/*****************< 2.) Recently Row >*******************/

.memory_title h2 {
    padding-left: 30px;
  }
  

/*****************< 3.) Cards >*******************/

.home .folder-card-container {
    margin: 0 auto 0 20px;
    width: 100%; 
}
  
.folder-card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  
  padding: 50px 0;
}

.ag-courses_box2 {
  display: flex;
  justify-content: left;
  width: 70%;
  padding-bottom: 80px;
}
.ag-courses_item {
  width: 400px;
  box-shadow: rgba(0,0,0,1.0);
  margin: 0 15px 50px;
  
  overflow: hidden;
  cursor: pointer;
  
  border-radius: 20px;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: black;
  z-index: 9;
}
  
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
  
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  width: 400px;
  overflow: hidden;

  position: relative;
}
  
  
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;
  overflow: hidden;
  font-weight: 700;
  font-size: 25px;
  z-index: 2;
  position: relative;
}
  
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.ag-bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ag-courses-item_date-box{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ag-courses-item_date-box h3{
padding-right: 5px;
color: black;
}
.ag-folder-icon{
  padding-bottom: 2px;
  color: black;
}

.ag-auto-sync{
  color: black;
  margin-left: 14px;
}

.auto-sync{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.auto-sync h6{
  color: black;
}

  
@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}
.no-document{
  text-align: center;
  padding-top: 100px;
  font-size: 20px;
  opacity: 0.2;
}

.no-folder{
  display: flex;
  flex-direction: column;
  margin-left: 630px;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  opacity: 0.2;
  color: black;
  transition: ease-in-out .2s;
}
.no-folder a{
  padding: 20px;
  font-size: 20px;  
  color: black; 
}

.no-folder:hover{
cursor: pointer;
padding: 10px;
opacity: 1.0;
border-radius: 20px;
border: 2px dashed black;
opacity: 0.8;
}

.inline_txt{
  padding-left: 5px;
  display: inline;
}



