

.home-card {
    padding: 30px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    padding-left: 30px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    transition: ease-in-out .2s;
  }
  
  .home-card:hover{
   
    transform: scale(1.01);
  }


  

.usage-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    width: 1500px;
}

.usage-title{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 300px;
}

.follow-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1050px;
  height: 150px;
  justify-content: space-between;
  
}

.socialMedia{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.follow-row a:any-link{
  color: black;
}

.socialMedia:hover{
  transition: ease-in-out .2s;
  cursor: pointer;
  transform: scale(1.08);
}

.follow-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
}

.title-main{

}

.title-sub{
    font-size: 15px;
    opacity: 0.7;
}

.cloud{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 500px;
    padding-left: 100px;
    padding-right: 100px;
  

}

.cloud-progress{

}

.cloud-title{
    font-size: 20px;
}

/*RECENTLY ADDED*/

.memory_title h2 {
    padding-left: 30px;
  }
  
  .memory_title h2 a{
    color: #121212;
    font-weight: 300;
    font-size: 20px;
    padding-left: 1500px;
  }
  .memory_title h2 a:hover{
   cursor: pointer;
   font-weight: 500;
   color: #191d28;
  }

  /* Card */

.home .ag-format-container {

    margin: 0 auto 0 20px;
    padding-left: 100px;
 
  }
  
  .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    padding: 50px 0;
  }

  .ag-courses_box2 {
    display: flex;
    justify-content: left;
    margin: 0 15px 30px;
 
    padding: 20px 0;
    padding-bottom: 50px;
  }
  .ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    box-shadow: rgba(0,0,0,1.0);
    margin: 0 15px 50px;
    
    overflow: hidden;
    cursor: pointer;
    
    border-radius: 20px;
  }

  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: black;
    z-index: 9;
   
    
  }
  
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    width: 400px;
    overflow: hidden;
  
    position: relative;
  }
  
  
  .ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
    overflow: hidden;
    font-weight: 700;
    font-size: 25px;
    z-index: 2;
    position: relative;
  }
  
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  
  .ag-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .ag-courses-item_date-box{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .ag-courses-item_date-box h3{
  padding-right: 5px;
  color: black;
}
.ag-folder-icon{
    padding-bottom: 2px;
    color: black;
}

.ag-auto-sync{
    color: black;
    margin-left: 14px;
}

.auto-sync{
   display: flex;
   flex-direction: column;
    text-align: center;
}

.auto-sync h6{
   color: black;
 }

  
  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }
.no-document{
  text-align: center;
padding-top: 100px;
  font-size: 20px;
  opacity: 0.2;
}

.no-folder{
display: flex;
flex-direction: column;
margin-left: 630px;
text-align: center;
  padding: 20px;
    font-size: 20px;
    opacity: 0.2;
color: black;
transition: ease-in-out .2s;
}
.no-folder a{
    padding: 20px;
      font-size: 20px;  
  color: black;
  }
.no-folder:hover{
cursor: pointer;
padding: 10px;
opacity: 1.0;
border-radius: 20px;
border: 2px dashed black;
opacity: 0.8;
}

.inline_txt{
 padding-left: 5px;
 display: inline;
}


@media (1670px <= width <= 1780px) {

  .home .ag-format-container {


    margin: 0 auto 0 20px;
    margin-left: -60px;
  }
   
  
}

@media (1500px <= width <= 1670px) {

    
   

  .home .ag-format-container {


  margin: 0 auto 0 20px;
  padding-left: 80px;
}
 
}

@media (1350px <= width <= 1500px) {



.home .ag-format-container {


  width: 1300px;
  margin: 0 auto 0 20px;
  margin-left: -60px;
}

.home .ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  width: 350px;
  overflow: hidden;

  position: relative;
}

.home .ag-courses-item_link_plus {
  display: block;
  padding: 30px 20px;
  background-color: none;
  border: 2px dashed black;
  border-radius: 30px;
  overflow: hidden;
  width: 350px;
 

  position: relative;
}

.home .ag-courses-item_title_plus{
  min-height: 80px;
  margin: 45px 140px 0px;

  font-weight: bold;
  font-size: 30px;
  color: black;

  z-index: 2;
  position: relative;
}
 
}


@media (1024px <= width <= 1350px) {

    
  

  .home .ag-format-container {

width: 1100px;
  margin: 0 auto 0 auto;
 margin-left: -60px;
}

.home .ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  width: 300px;
  overflow: hidden;

  position: relative;
}

.home .ag-courses-item_link_plus {
  display: block;
  padding: 30px 20px;
  background-color: none;
  border: 2px dashed black;
  border-radius: 30px;
  overflow: hidden;
  width: 300px;
 

  position: relative;
}

.home .ag-courses-item_title_plus{
  min-height: 80px;
  margin: 45px 115px 0px;

  font-weight: bold;
  font-size: 30px;
  color: black;

  z-index: 2;
  position: relative;
}

 
}