@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #61ffdf;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    /* ====== DARK ====== */
    --dark-body-color: #18191a;
    --dark-sidebar-color: #242526;
    --dark-primary-color: #9effb1;
    --dark-primary-color-light: #3a3b3c;
    --dark-toggle-color: #9effb1;
    --dark-text-color: #ccc;
    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
  margin: 0;
  padding: 0;
}

/*::selection{
    background-color: var(--primary-color);
    color: #fff;
}*/
#dark {
background-color: var(--dark-body-color);
min-height: 100vh;
transition: all 0.3s ease;
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
}
#light {
background-color: var(--body-color);
min-height: 100vh;
transition: all 0.3s ease;
display: flex;
flex-direction: column;
align-items: center;
}

/*Making static LANDING PAGE*/

#dark .landing-page .f-bar-title{
  font-size: 50px;
  color: var(--dark-body-color);
}
#dark .landing-page .f-bar-subtitle{
  opacity: 0.2;
  color: var(--dark-body-color);
}
#dark .landing-page .f-bar-subtitle span{
  color: var(--dark-body-color);
}


#dark .landing-page .title-tag{
  padding: 4px;
  text-align: center;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  font-size: 12px;
  font-weight: 500;
  color: var(--dark-body-color);
  width: 60px;
}
#dark .landing-page .title-tag2{
  padding: 4px;
  text-align: center;
  color: var(--dark-body-color);
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  font-size: 12px;
  font-weight: 500;
  width: 100px;
}

#dark .landing-page .title-main{
  font-size: 24px;
  padding-top: 10px;
  color: var(--dark-body-color);
}
#dark .landing-page .included-1{
  display: flex;
  flex-direction: row;
  padding: 20px 60px;
  font-size: 10px;
  color: var(--primary-color);
}
#dark .landing-page .included-1 h3{

  padding-left: 8px;
  padding-top: 4px;
  color: var(--dark-body-color);
}


#dark .landing-page .included-2{
  display: flex;
  flex-direction: row;

  padding: 20px 30px;
  font-size: 10px;
  width: 450px;
  justify-content: space-between;
  color: var(--primary-color);
}


#dark .landing-page .sub-page .included-3{
  display: flex;
  flex-direction: row;
  
  padding: 20px 30px;
  font-size: 10px;
  width: 480px;
  justify-content: space-evenly;
  color: var(--primary-color);
}

#dark .landing-page .sub-page .included-2 h3{
  color: var(--dark-body-color);
  margin-left: -50px;
  padding-top: 4px;
 
}


#dark .landing-page .included-3 h3{
  color: var(--dark-body-color);
  margin-left: -90px;
  padding-top: 4px;
 
}

#dark .landing-page .sub-box3,#dark .landing-page .sub-box2{
 border: 1px solid black;
 border-radius: 30px;
 width: 500px;
color: var(--dark-body-color);

}
#dark .landing-page .sub-box2 .btn-box h3{

 color: #fff;
 
 }
 #dark .landing-page .sub-box2 .btn-box h3:hover{

  color: var(--dark-body-color);
  
  }

  #dark .landing-page .sub-box{
  border: 1px solid black;
  border-radius: 30px;
  color: var(--dark-body-color);

 
 }

 #dark .landing-page .box-title h6{
  font-weight: 500;
  opacity: 0.6;

}

#dark .landing-page .btn-box{

  width: 180px;
  height: 60px;
 background-color: black;
 transition: ease-in-out .1s;
 border-radius: 10px;

}

#dark .landing-page .btn-box:hover{
background-color: var(--primary-color);
border: 1px solid black;
transition: ease-in-out .1s;
cursor: pointer;

}
#dark .landing-page .comp-title-subtxt{
  opacity: 0.6;
  margin-top: -10px;
  padding: 0px 0px 20px 20px;
  color: var(--dark-body-color);
  font-weight: 500;
}
#dark .landing-page .comp-title-txt{
  padding: 20px;
 color: var(--dark-body-color);
}

#dark .landing-page .comp-txt{
  font-weight: 500;
  font-size: 16px;
  
  padding: 30px;
  text-align: center;
  color: var(--dark-body-color);
}

#dark .landing-page .comp-nmbr{
  font-weight: 600;
  font-size: 19px;
  padding: 30px;
  opacity: 0.9;
  text-align: center;
  color: var(--dark-body-color);
}
#dark .landing-page .comp-free h1{
  color: var(--dark-body-color);

}

#dark .landing-page .comp-yrl h1{
  color: var(--dark-body-color);

}

#dark .landing-page .comp-m h1{
  color: var(--dark-body-color);

}

#dark .landing-page .faq-content h3{
  color: var(--dark-body-color);
  opacity: 0.8;
}
#dark .landing-page.faq-content h3:hover{
  color: var(--dark-body-color);
  opacity: 1;
}

#dark .landing-page .drop-text{
  text-align: left;
  color: var(--dark-body-color);
  font-weight: 300;
}
#dark .landing-page .faq-content:hover{
  transition: ease-in-out .3s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  padding: 20px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

#dark .landing-page .included-1{
  display: flex;
  flex-direction: row;
  padding: 20px 60px;
  font-size: 10px;
}

#dark .landing-page .included-2{
  display: flex;
  flex-direction: row;
  width: 400px;
  font-size: 10px;

}


#dark .landing-page .included-col{
  display: flex;
  flex-direction: row;
  width: 140px;
 
  justify-content: space-between;
}


#dark .landing-page .included-col2{
  display: flex;
  flex-direction: row;

  width: 210px;
  justify-content: space-around;
}



#dark .landing-page .included-col3{
  display: flex;
 
  flex-direction: row;
  width: 180px;
  justify-content: space-between;
}



#dark .landing-page .included-col-txt {
  color: var(--dark-body-color);
 
}



/* ===== Sidebar ===== */
/*DARK-MODE*/
.sidebaropener{
  display: none;
}

#dark .sidebar{
    position: fixed;
    background-color: var(--dark-sidebar-color);
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 12px;
    transition: all 0.3s ease;
    z-index: 9;   /*ZINDEX*/
}

#dark .sidebar .menu-bar .nav-text{
 padding-left: 1px;
}

#dark .sidebar header .logo-text{
  padding-left: 15px;
 }

#dark .sidebar.close{
    width: 88px;
}

#dark .sidebar .text,
#dark .sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

#dark .sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--dark-primary-color);
    color: var(--dark-sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}
#dark .sidebar header .toggle{
    color: var(--text-color);
}

#dark .sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

#dark .sidebar li a:hover{
    background-color: var(--dark-primary-color);
}

#dark .sidebar li a:hover .icon,
#dark .sidebar li a:hover .text{
    color: var(--dark-sidebar-color);
}
#dark .sidebar li a:hover .icon,
#dark .sidebar li a:hover .text{
    color: var(--dark-text-color);
}

#dark .sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--dark-primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

#dark .toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--dark-toggle-color);
    transition: var(--tran-05);
}
#dark .switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--dark-sidebar-color);
    transition: var(--tran-04);
}
#dark .switch::before{
    right: 20px;
}

#dark .sidebar.close .mode-text1{
    display: none;
    
}

#dark .mode-text1{
    opacity: 1;
    padding-left: 1px;
    
}
#dark .mode-text2{
    display: none;
}

#dark .mode .sun-moon i.sun{
    opacity: 0;
}
#dark .mode .sun-moon i.moon{
    opacity: 1;
}

/*LIGHT-MODE*/

    #light .sidebar{
        position: fixed;
        background-color: var(--sidebar-color);
        top: 0;
        left: 0;
        height: 100%;
        width: 250px;
        padding: 10px 14px;
        transition: all 0.3s ease;
        z-index: 9;   /*ZINDEX*/
    }
    #light .sidebar.close{
        width: 88px;
    }

    #light .sidebar .menu-bar .nav-text{
      padding-left: 1px;
     }
     
     #light .sidebar header .logo-text{
       padding-left: 15px;
      }
    
    #light .sidebar .text,
    #light .sidebar .icon{
        color: var(--text-color);
        transition: var(--tran-03);
    }
    
    #light .sidebar header .toggle{
        position: absolute;
        top: 50%;
        right: -25px;
        transform: translateY(-50%) rotate(180deg);
        height: 25px;
        width: 25px;
        background-color: var(--primary-color);
        color: var(--sidebar-color);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        cursor: pointer;
        transition: var(--tran-05);
    }
    #light .sidebar header .toggle{
        color: var(--text-color);
    }
    
    #light .sidebar.close .toggle{
        transform: translateY(-50%) rotate(0deg);
    }
    
    #light .sidebar li a:hover{
        background-color: var(--primary-color);
    }
    
    #light .sidebar li a:hover .icon,
    #light .sidebar li a:hover .text{
        color: var(--sidebar-color);
    }
    #light .sidebar li a:hover .icon,
    #light .sidebar li a:hover .text{
        color: var(--text-color);
    }
    
    #light .sidebar .menu-bar .mode{
        border-radius: 6px;
        background-color: var(--primary-color-light);
        position: relative;
        transition: var(--tran-05);
    }
    
    #light .toggle-switch .switch{
        position: relative;
        height: 22px;
        width: 40px;
        border-radius: 25px;
        background-color: var(--toggle-color);
        transition: var(--tran-05);
    }
    #light .switch::before{
        content: '';
        position: absolute;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        background-color: var(--sidebar-color);
        transition: var(--tran-04);
    }
    #light .switch::before{
        left: 20px;
    }

    #light .sidebar.close .mode-text2{
        display: none;
    }

    #light .mode-text2{
        opacity: 1;
        padding-left: 1px;
        
    }
    #light .mode-text1{
        display: none;
    }

    #light.mode .sun-moon i.sun{
        opacity: 1;
    }
    #light .mode .sun-moon i.moon{
        opacity: 0;
    }

/*======FILE=====*/

#dark .file .content-related-upload{

  background:var(--dark-primary-color-light);

}

#dark .file .close-related-upload{
  background:black;
  color:white;
}

#dark .file .popup-fodler.active .close-related-upload:hover{
  color: var(--dark-primary-color);
}


#dark .file .content-related-link{

  background:var(--dark-primary-color-light);

}

#dark .file .close-btn-related-link{
  background:black;
  color:white;
}

#dark .file .popup-fodler.active .close-btn-related-link:hover{
  color: var(--dark-primary-color);
}

#dark .file .content-relatedAdd{
  background:var(--dark-primary-color-light);

}

#dark .file .close-btn-relatedAdd{

  background:black;
  color:var(--dark-primary-color);
  border: 1px solid black;

 
}

#dark .file .relatedAdd-title{
  color: var(--dark-text-color);
}

#dark .file #btn-relatedAdd{
  background-color: var(--dark-primary-color);
  color: var(--dark-body-color);
  font-weight: 900;
}

/**/
#light .file .content-related-upload{

  background:var(--primary-color-light);

}

#light .file .close-related-upload{
  background:black;
  color:white;
}

#light .file .popup-fodler.active .close-related-upload:hover{
  color: var(--primary-color);
}


#light .file .content-related-link{
  background:var(--primary-color-light);

}

#light .file .close-btn-related-link{
  background:black;
  color:white;
}

#light .file .popup-fodler.active .close-btn-related-link:hover{
  color: var(--primary-color);
}

#light .file .content-relatedAdd{
  background:var(--primary-color-light);

}

#light .file .close-btn-relatedAdd{

  background:black;
  color:var(--primary-color);
  border: 1px solid black;

 
}

#light .file .relatedAdd-title{
  color: var(--dark-body-color);
}

#light .file #btn-relatedAdd{
  background-color: var(--primary-color);
  color: var(--dark-body-color);
  font-weight: 600;
}



/* ===== HOME ===== */

/*DARK _ MODE*/
#dark .home-card{
    background-color: rgba(156, 255, 185, 0.45);
}
#dark .cloud-title{
    color: var(--dark-text-color);
}

#dark .follow-title h1{
  color: var(--dark-text-color);
}

#dark .follow-row a:any-link{
  color: var(--dark-primary-color);
}


#dark .memory_title h2{
    color: var(--dark-text-color);
}
#dark .memory_title h2 a{
    color: var(--dark-text-color);
  }
#dark .memory_title h2 a:hover{
   color: var(--primary-color);
  }
#dark .ag-courses-item_link{
    border: 4px solid black;
    border-top: 4px solid black;
    border-bottom: 10px solid black;
    border-right: 10px solid black;
    border-radius: 20px;
    background-color: var(--dark-primary-color-light);
 
}
#dark .ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  color: var(--dark-primary-color-light);
}
#dark .ag-courses-item_title{
    color: var(--dark-text-color);
}

#dark .ag-courses-item_date-box h3{
    color: var(--dark-text-color);
  }
  #dark .ag-folder-icon{
      color: var(--dark-text-color);
  }
  #dark .ag-auto-sync{
      color: var(--dark-text-color);
  }  
  #dark .auto-sync h6{
     color: var(--dark-text-color);
   }

#dark  .no-folder{
    color: var(--dark-text-color);
    }
#dark .no-folder a{
      color: var(--dark-text-color);
      }
#dark .no-document{
    color: var(--dark-text-color);
}

#dark .title-main{
    color: var(--dark-text-color);
}

#dark .title-sub a{
    color: var(--dark-primary-color);
}
#dark .title-sub{
    color: var(--dark-text-color);
}

/*LIGHT _ MODE*/

#light .home-card{
    background-color: rgba(156, 255, 185, 0.45);
}
#light .cloud-title{
    color: var(--text-color);
}

#light .follow-title h1{
  color: var(--dark-body-color);
}

#light .follow-row a:any-link{
  color: var(--primary-color);
}
#light .memory_title h2{
    color: var(--text-color);
}
#light .memory_title h2 a{
    color: var(--text-color);
  }
  #light .memory_title h2 a:hover{
   color: var(--primary-color);
  }
  #light .ag-courses-item_link{
    border: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 8px solid black;
    border-right: 8px solid black;
    border-radius: 20px;
    background-color: white;
}
#light .ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  color: var(--primary-color-light);
}
#light .ag-courses-item_title{
    color: var(--text-color);
}

#light .ag-courses-item_date-box h3{
    color: var(--text-color);
  }
  #light .ag-folder-icon{
      color: var(--text-color);
  }
  #light .ag-auto-sync{
      color: var(--text-color);
  }  
  #light .auto-sync h6{
     color: var(--text-color);
   }

   #light  .no-folder{
    color: var(--text-color);
    }
    #light .no-folder a{
      color: var(--text-color);
      }
    #light .no-document{
    color: var(--text-color);
}

#light .title-main{
    color: var(--text-color);
}

#light .title-sub a{
    color: var(--primary-color);
}
#light .title-sub{
    color: var(--text-color);
}

/* ================ FODLER ====================== */

/* DARK _ MODE*/
#dark .back-button-folder{
    border: 2px solid black;
    color: var(--dark-primary-color);
    background-color: black;
  }
  

  #dark .back-button-folder:hover{
    border: 2px solid black;
    color: black;
    background-color: var(--dark-primary-color);
  }
  
  #dark .folder-input-change{
    border: 0px solid var(--dark-primary-color);;
  }
  
  #dark .first_bar-delete{
    color: var(--dark-text-color);
  }
#dark .first_bar-txt{
    color: var(--dark-text-color);
}

#dark .first_bar-edit{
    color: var(--dark-text-color);
  }
  #dark .first_bar-edit:hover{
    color: var(--dark-primary-color);
  }


  
  #dark .no-doc{
color: var(--dark-text-color);
  }
  
  #dark .file-map{
    border: 4px solid black;
    border-top: 4px solid black;
    border-bottom: 10px solid black;
    border-right: 10px solid black;
    background-color: rgba(110, 108, 108, 0.5); 
    backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
  }

  #dark .file-map:hover{
    background-color: black;
  }
  

  #dark .related-video-cont{
    color: var(--dark-primary-color);
  }
  #dark .related-video{
    color: var(--dark-primary-color);
  }
  #dark .storage-take-number{
    color: var(--dark-primary-color);
  }

  #dark .add-icon-tag:hover{

      color: var(--dark-text-color);
    }

    
    #dark .content-popup-fodler{
      background:var(--dark-primary-color-light);
    border: 1px solid black;
  }

  #dark .content-popup-fodler-link{
    background:var(--dark-primary-color-light);
    border: 1px solid black;
  
  }

  
  #dark .popup-fodler.active .close-btn-fodler-link{

    background:black;
    color:white;

  }
  #dark .popup-fodler.active .close-btn-fodler-link:hover{

    background:black;
    color:var(--dark-primary-color);

  }

  #dark .content-popup-fodler-upload{
    background:var(--dark-primary-color-light);
    border: 1px solid black;
  }

  #dark .close-btn-fodler-upload{
    background:black;
    color:white;
  }
  #dark .close-btn-fodler-upload:hover{
    background:black;
    color:var(--dark-primary-color);
  }
  
  #dark .card_style_plus{
    border: 2px dashed black;
}
  
#dark .card_style_plus:hover{
    background-color: #fff;
}
  
#dark .card_bg_plus{
  background-color: none;
}
  
#dark .card_title_plus{
    color: var(--dark-text-color);
}
  
#dark .card-container-file {
    box-shadow: 0px 10px 8px #999;
    background-color: var(--dark-primary-color-light);
}
  
#dark .card-btn-file {
    background-color: var(--dark-primary-color);
    color: var(--dark-text-color);
}
  
#dark .item-desc{

  }
  
  #dark  .Add-New-title{
    color: white
  }

#dark .card-item{
    background-color: var(--dark-body-color);
  }

#dark .item-box-link {
  color: var(--dark-text-color);
}

#dark .item-desc {
  color: var(--dark-text-color);
}

#dark .or-txt{
  color: var(--dark-text-color);
}

#dark #add-btn-file{
  background-color: var(--dark-primary-color);
  color: var(--dark-body-color);
  font-weight: 900;
}

#dark #create-upload{
  background-color: var(--dark-primary-color);
  color: var(--dark-body-color);
  font-weight: 900;
}

#dark .image_box {
  display: flex;
  align-items: flex-start;
  border: 2px solid var(--dark-primary-color);
  position: absolute;
  height: 5rem;
  /* overflow: hidden; */
  border-radius: 10px; 
}

#dark .clip_box {
  border: 10px solid var(--dark-primary-color);
  position: absolute;
  height: 110%;
  box-shadow: 2000 0 5px 10px red, -400px 0 5px -10px red;
  transform: translateY(-5%);
  border-radius: 10px;

}

#dark .clip_box_des {
  width: 1.3rem;
  height: 100%;
  background-color: var(--dark-primary-color);
  position: absolute;
  z-index: -1;
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: space-around;
}

#dark div .btn2 {
   
  border-radius: 10px;
  padding-top: 8px;
  font-size: 20px;
  font-weight: 600;
  width: 200px;
  height: 50px;
  background-color: var(--dark-primary-color);
  color: var(--dark-body-color);
  
  
}

/*LIGHT _ MODE*/

#light .back-button-folder{
    border: 2px solid black;
    color: var(--primary-color);
    background-color: black;
  }
  #light .storage-take-number{
    color: var(--primary-color);
  }

  #light .back-button-folder:hover{
    border: 2px solid black;
    color: black;
    background-color: var(--primary-color);
  }
  
  #light .folder-input-change{
    border: 0px solid var(--primary-color);;
  }
  
  #light .first_bar-delete{
    color: var(--dark-body-color);
  }

  #light .first_bar-delete:hover{
    color: red;
  }

  #light .first_bar-txt{
    color: var(--text-color);
}

#light .first_bar-edit{
  color: var(--dark-body-color);
  }
  #light .first_bar-edit:hover{
    color: var(--primary-color);
  }


  
  #light .no-doc{
color: var(--text-color);
  }
  
  #light .file-map{
    border: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 8px solid black;
    border-right: 8px solid black;
    background-color: white; 
    backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
  }

  #light .file-map:hover{
    background-color: black;
  }
  

  #light .related-video{
    color: var(--primary-color);
  }

  #light .related-video-cont{
    color: var(--dark-primary-color);
  }

  #light .add-icon-tag:hover{

      color: var(--text-color);
    }

    
    #light .content-popup-fodler{
    background:var(--primary-color-light);
    border: 1px solid black;
  }

  #light .content-popup-fodler-link{
    background:var(--primary-color-light);
    border: 1px solid black;
  }

  
  #light .popup-fodler.active .close-btn-fodler-link{

    background:black;
    color:white;

  }
  #light .popup-fodler.active .close-btn-fodler-link:hover{

    background:black;
    color:var(--primary-color);

  }

  #light .content-popup-fodler-upload{
    background:var(--primary-color-light);
    border: 1px solid black;
  }

  #light .close-btn-fodler-upload{
    background:black;
    color:white;
  }
  #light .close-btn-fodler-upload:hover{
    background:black;
    color:var(--primary-color);
  }
  
  #light .card_style_plus{
    border: 2px dashed black;
}
  
#light .card_style_plus:hover{
    background-color: #fff;
}
  
#light .card_bg_plus{
  background-color: none;
}
  
#light .card_title_plus{
    color: var(--text-color);
}
  
#light .card-container-file {
    box-shadow: 0px 10px 8px #999;
    background-color: var(--primary-color-light);
}
  
#light .card-btn-file {
    background-color: var(--primary-color);
    color: var(--text-color);
}
  
#light .item-desc{

  }
  
  #light  .Add-New-title{

  }

/* ============MEMORY=============== */

/*LIGHT MODE*/
#light  .memory_title_memory h2{
color: var(--text-color);;
  }
  
#light .popup .content-popup {
    background:white;
    border: 3px solid black;
  }
/*DARK MODE*/
#dark  .memory_title_memory h2{
    color: var(--dark-text-color);;
      }
      
#dark .popup .content-popup {
        background:var(--dark-primary-color-light);
        border: 3px solid black;
      } 

      #dark .popup .popup-title {
        color: var(--dark-text-color);
   
      } 

      #dark .popup .label-char{
        color: var(--dark-primary-color);
      
      }

      #dark .colorDiv p{
        color: var(--dark-primary-color);
      }
      #dark #colorPicker{
        background-color: var(--dark-primary-color-light);
      }

/* ============FILE=============== */
/*dark MODE*/

#dark .editor-inner {
    background: var(--primary-color-light);
    border: 2px solid black;

  }

#dark .toolbar {
  background: var(--dark-primary-color-light);
  border: 2px solid black;
}

#dark .toolbar .toolbar-item:hover:not([disabled]) {
    background-color: var(--dark-primary-color);
  }
  
  #dark .toolbar .divider {

    background-color: var(--dark-body-color);

  }
#dark .pagination{
    color: var(--dark-primary-color);
}
#dark .sec_bar-clip{ 
    border: 2px solid var(--dark-primary-color);  
}

#dark .sec_bar-clip:hover{
    border: 2px solid black;
  }
#dark .subtitle{
 color: var(--dark-text-color);
}

#dark .sub-tag{
    color: var(--dark-text-color);
}
#dark .sec_bar-clip-duration{
    color: var(--dark-text-color);
}

#dark .chat-message.chatgpt{
  background-color: var(--dark-primary-color);
  color: black;
  
 }

#dark  .avatar.chatgpt {
  background-color: var(--dark-primary-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
 }

 #dark .first_bar-tag-label{
  color: var(--dark-primary-color);
  opacity: 0.6;
}

/*Ligth MODE*/

#light .editor-inner {
    background: var(--primary-color-light);
    border: 2px solid black;
    border-top:  2px solid black;

  }

  #light .toolbar {
  background: var(--primary-color-light);
  border: 2px solid black;
  border-bottom:  3px solid black;
  margin-bottom: 0px;
}

#light .toolbar .toolbar-item:hover:not([disabled]) {
    background-color: var(--primary-color);
  }
  
  #light .toolbar .divider {

    background-color: var(--dark-primary-color-light);

  }
  #light .pagination{
    color: var(--primary-color);
}
#light .sec_bar-clip{ 
    border: 2px solid var(--primary-color);  
}

#light .sec_bar-clip:hover{
    border: 2px solid black;
  }
  #light .subtitle{
 color: var(--text-color);
}

#light .sub-tag{
    color: var(--text-color);
}
#light .sec_bar-clip-duration{
    color: var(--text-color);
}

#light .folder-input-change{
    border: 0px solid var(--primary-color);
  }

  #light .chat-message.chatgpt{
    background-color: var(--primary-color);
    color: black;
    
   }
  
  #light  .avatar.chatgpt {
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
   }
  
#light .first_bar-tag-label{
  color: var(--text-color);
  opacity: 0.6;
}
  
/* ============SUBPAGE=============== */
/*DARK*/


#dark .f-bar-title{
  font-size: 50px;
  color: var(--dark-text-color);
}
#dark .f-bar-subtitle{
  opacity: 0.2;
  color: var(--dark-text-color);
}
#dark .f-bar-subtitle span{
  color: var(--dark-primary-color);
}


#dark .title-tag{
  padding: 4px;
  text-align: center;
  border: 1px solid var(--dark-primary-color);
  border-radius: 30px;
  font-size: 12px;
  font-weight: 500;
  color: var(--dark-text-color);
  width: 60px;
}
#dark .title-tag2{
  padding: 4px;
  text-align: center;
  color: var(--dark-text-color);
  border: 1px solid var(--dark-primary-color);
  border-radius: 30px;
  font-size: 12px;
  font-weight: 500;
  width: 100px;
}

#dark .title-main{
  font-size: 24px;
  padding-top: 10px;
  color: var(--dark-text-color);
}
#dark .included-1{
  display: flex;
  flex-direction: row;
  padding: 20px 60px;
  font-size: 10px;
  color: var(--dark-primary-color);
}
#dark .included-1 h3{
  color: var(--dark-text-color);
  padding-left: 8px;
  padding-top: 4px;

}


#dark .included-2{
  display: flex;
  flex-direction: row;

  padding: 20px 30px;
  font-size: 10px;
  width: 450px;
  justify-content: space-between;
  color: var(--dark-primary-color);
}

#dark .sub-page .included-3{
  display: flex;
  flex-direction: row;
  
  padding: 20px 30px;
  font-size: 10px;
  width: 480px;
  justify-content: space-evenly;
  color: var(--dark-primary-color);
}

#dark .sub-page .included-2 h3{
  color: var(--dark-text-color);
  margin-left: -50px;
  padding-top: 4px;
 
}


#dark .included-3 h3{
  color: var(--dark-text-color);
  margin-left: -90px;
  padding-top: 4px;
 
}

#dark .sub-box3,#dark .sub-box2{
 border: 1px solid black;
 border-radius: 30px;
 width: 500px;
color: var(--dark-text-color);

}
#dark .sub-box3,#dark .sub-box2 h6,#dark .sub-box3,#dark .sub-box2 h3{

 color: var(--dark-text-color);
 
 }

 #dark .sub-box2 .btn-box h3:hover{

  color: var(--dark-body-color);
  
  }

#dark .sub-box{
  border: 1px solid black;
  border-radius: 30px;
  color: var(--dark-text-color);

 
 }

#dark .box-title h6{
  font-weight: 500;
  opacity: 0.6;

}

#dark .btn-box{

  width: 180px;
  height: 60px;
 background-color: black;
 transition: ease-in-out .1s;
 border-radius: 10px;

}

#dark .btn-box:hover{
background-color: var(--dark-primary-color);
border: 1px solid black;
transition: ease-in-out .1s;
cursor: pointer;

}
#dark .comp-title-subtxt{
  opacity: 0.6;
  margin-top: -10px;
  padding: 0px 0px 20px 20px;
  color: var(--dark-text-color);
  font-weight: 500;
}
#dark .comp-title-txt{
  padding: 20px;
 color: var(--dark-text-color);
}

#dark .comp-txt{
  font-weight: 500;
  font-size: 16px;
  
  padding: 30px;
  text-align: center;
  color: var(--dark-primary-color);
}

#dark .comp-nmbr{
  font-weight: 600;
  font-size: 19px;
  padding: 30px;
  opacity: 0.9;
  text-align: center;
  color: var(--dark-text-color);
}
#dark .comp-free h1{
  color: var(--dark-text-color);

}

#dark .comp-yrl h1{
  color: var(--dark-text-color);

}

#dark .comp-m h1{
  color: var(--dark-text-color);

}

#dark .faq-content h3{
  color: var(--dark-text-color);
  opacity: 0.8;
}
#dark .faq-content h3:hover{
  color: var(--dark-text-color);
  opacity: 1;
}

#dark .drop-text{
  text-align: left;
  color: var(--dark-text-color);
  font-weight: 300;
}
#dark .faq-content:hover{
  transition: ease-in-out .3s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  padding: 20px;
  color: var(--dark-primary-color);
  border: 1px solid var(--dark-primary-color);
}

#dark .sub-page .included-1{
  display: flex;
  flex-direction: row;
  padding: 20px 60px;
  font-size: 10px;
}

#dark .sub-page .included-2{
  display: flex;
  flex-direction: row;
  width: 400px;
  font-size: 10px;

}


#dark .sub-page .included-col{
  display: flex;
  flex-direction: row;
  width: 140px;
 
  justify-content: space-between;
}

#dark .sub-page .included-col2{
  display: flex;
  flex-direction: row;

  width: 210px;
  justify-content: space-around;
}



#dark .sub-page .included-col3{
  display: flex;
 
  flex-direction: row;
  width: 180px;
  justify-content: space-between;
}

#dark .faq-link-text{
  color: var(--dark-primary-color);
}




/*LIGHT*/


#light .f-bar-title{
  font-size: 50px;
  color: var(--dark-body-color);
}
#light .f-bar-subtitle{
  opacity: 0.2;
  color: var(--dark-body-color);
}
#light .f-bar-subtitle span{
  color: var(--dark-body-color);
}


#light .title-tag{
  padding: 4px;
  text-align: center;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  font-size: 12px;
  font-weight: 500;
  color: var(--dark-body-color);
  width: 60px;
}
#light .title-tag2{
  padding: 4px;
  text-align: center;
  color: var(--dark-body-color);
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  font-size: 12px;
  font-weight: 500;
  width: 100px;
}

#light .title-main{
  font-size: 24px;
  padding-top: 10px;
  color: var(--dark-body-color);
}
#light .included-1{
  display: flex;
  flex-direction: row;
  padding: 20px 60px;
  font-size: 10px;
  color: var(--primary-color);
}
#light .included-1 h3{

  padding-left: 8px;
  padding-top: 4px;
  color: var(--dark-body-color);
}


#light .included-2{
  display: flex;
  flex-direction: row;

  padding: 20px 30px;
  font-size: 10px;
  width: 450px;
  justify-content: space-between;
  color: var(--primary-color);
}


#light .sub-page .included-3{
  display: flex;
  flex-direction: row;
  
  padding: 20px 30px;
  font-size: 10px;
  width: 480px;
  justify-content: space-evenly;
  color: var(--primary-color);
}

#light .sub-page .included-2 h3{
  color: var(--dark-body-color);
  margin-left: -50px;
  padding-top: 4px;
 
}


#light .included-3 h3{
  color: var(--dark-body-color);
  margin-left: -90px;
  padding-top: 4px;
 
}

#light .sub-box3,#light .sub-box2{
 border: 1px solid black;
 border-radius: 30px;
 width: 500px;
color: var(--dark-body-color);

}
#light .sub-box2 .btn-box h3{

 color: #fff;
 
 }
 #light .sub-box2 .btn-box h3:hover{

  color: var(--dark-body-color);
  
  }

 #light .sub-box{
  border: 1px solid black;
  border-radius: 30px;
  color: var(--dark-body-color);

 
 }

 #light .box-title h6{
  font-weight: 500;
  opacity: 0.6;

}

#light .btn-box{

  width: 180px;
  height: 60px;
 background-color: black;
 transition: ease-in-out .1s;
 border-radius: 10px;

}

#light .btn-box:hover{
background-color: var(--primary-color);
border: 1px solid black;
transition: ease-in-out .1s;
cursor: pointer;

}
#light .comp-title-subtxt{
  opacity: 0.6;
  margin-top: -10px;
  padding: 0px 0px 20px 20px;
  color: var(--dark-body-color);
  font-weight: 500;
}
#light .comp-title-txt{
  padding: 20px;
 color: var(--dark-body-color);
}

#light .comp-txt{
  font-weight: 500;
  font-size: 16px;
  
  padding: 30px;
  text-align: center;
  color: var(--dark-body-color);
}

#light .comp-nmbr{
  font-weight: 600;
  font-size: 19px;
  padding: 30px;
  opacity: 0.9;
  text-align: center;
  color: var(--dark-body-color);
}
#light .comp-free h1{
  color: var(--dark-body-color);

}

#light .comp-yrl h1{
  color: var(--dark-body-color);

}

#light .comp-m h1{
  color: var(--dark-body-color);

}

#light .faq-content h3{
  color: var(--dark-body-color);
  opacity: 0.8;
}
#light .faq-content h3:hover{
  color: var(--dark-body-color);
  opacity: 1;
}

#light .drop-text{
  text-align: left;
  color: var(--dark-body-color);
  font-weight: 300;
}
#light .faq-content:hover{
  transition: ease-in-out .3s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  padding: 20px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

#light .sub-page .included-1{
  display: flex;
  flex-direction: row;
  padding: 20px 60px;
  font-size: 10px;
}

#light .sub-page .included-2{
  display: flex;
  flex-direction: row;
  width: 400px;
  font-size: 10px;

}


#light .sub-page .included-col{
  display: flex;
  flex-direction: row;
  width: 140px;
 
  justify-content: space-between;
}


#light .sub-page .included-col2{
  display: flex;
  flex-direction: row;

  width: 210px;
  justify-content: space-around;
}



#light .sub-page .included-col3{
  display: flex;
 
  flex-direction: row;
  width: 180px;
  justify-content: space-between;
}



#light .included-col-txt {
  color: var(--dark-body-color);
 
}

/* ============Acceptable Use=============== */
/*DARK*/

#dark .acceptable-use-policy{
  color: var(--dark-text-color);
}

#dark .acceptable-use-policy .stepback-bar a{
  color: var(--dark-primary-color);
}

/**/

#light .acceptable-use-policy{
  color: var(--dark-body-colorr);
}

#light .acceptable-use-policy .stepback-bar a{
  color: var(--dark-body-color);
}

/* ============Cookie=============== */
#dark .cookie-policy{
  color: var(--dark-text-color);
}

#dark .cookie-policy a{
  color: var(--dark-primary-color);
}

#dark .cookie-policy .footer a{
  color: var(--sidebar-color);
}

/**/

#light .cookie-policy{
  color: var(--dark-body-color);
}

#light .cookie-policy a{
  color: coral;
}

#light .cookie-policy .footer a{
  color: var(--sidebar-color);
}
/* ============PRIVACY=============== */
#dark .privacy-policy{
  color: var(--dark-text-color);
}

#dark .privacy-policy a{
  color: var(--dark-primary-color);
}

#dark .privacy-policy .footer a{
  color: var(--sidebar-color);
}
/**/
#light .privacy-policy a{
  color: orange;
}

#light .privacy-policy .footer a{
  color: var(--sidebar-color);
}

/*==========TERMS=============*/

#dark .terms-and-services{
 color: var(--dark-text-color);
}

#dark .terms-and-services a{
  color: var(--dark-toggle-color);
 }

#dark .terms-and-services .footer a{
  color: var(--dark-text-color);
}

/* ============LEGAL=============== */

#dark .legal-page-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: 400px;
  text-align: left;
  color: var(--dark-text-color);
  border: 2px solid black;
  padding: 30px;
  border-radius: 10px;
  transition: ease-in-out .2s;
  background-color: var(--dark-sidebar-color);
}

#dark .legal-page-box:hover{
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 2px solid var(--dark-primary-color);
  padding: 30px;
  transition: ease-in-out .2s;
  transform: scale(1.01);
  border-radius: 10px;

}

#dark .legal-page-box h4{
  width: 83px;
  padding: 5px;
  border: 1px solid var(--sidebar-color);
  color: var(--dark-text-color);
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
}

#dark .legal-page-box h4:hover{
  width: 83px;
  padding: 5px;
  border: 1px dashed var(--dark-primary-color);
  border-radius: 5px;
  color: var(--dark-primary-color);
  cursor: pointer;
}

#dark .legal-page-box h4:active{
  transform: scale(0.96);
}

/**/
#light .legal-page-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: 400px;
  text-align: left;
  color: var(--dark-body-color);
  border: 2px solid var(--sidebar-color);
  padding: 30px;
  border-radius: 10px;
  transition: ease-in-out .2s;
  background-color: #fff;
}

#light .legal-page-box:hover{
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 2px solid var(--primary-color);
  padding: 30px;
  transition: ease-in-out .2s;
  transform: scale(1.01);
  border-radius: 10px;

}

#light .legal-page-box h4{
  width: 83px;
  padding: 5px;
  border: 1px solid var(--dark-body-color);
  color: var(--dark-body-color);
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
}

#light .legal-page-box h4:hover{
  width: 85px;
  padding: 5px;
  border: 2px dashed var(--primary-color);
  border-radius: 5px;
  color: var(--dark-body-color);
  cursor: pointer;
}

#light .legal-page-box h4:active{
  transform: scale(0.96);
}


/* ============SETTINGS=============== */

#dark .settings hr{
  border-color: black;
}

#dark .settings h6,#dark .settings h4,#dark .settings h5{
  color: var(--primary-color-light);
  font-weight: 500;
 
}

#dark .settings h1{
  color: var(--primary-color-light);
 
}
#dark .settings .profile-title-txt{
  color: var(--dark-text-color);
}

#dark .settings .highlighter{
  color: var(--dark-primary-color);
  opacity: 0.8;
}
 
#dark .settings .profile-first-row h5{
  color: var(--primary-color-light);
}

#dark .settings .section-settings-left{
  padding: 5px;
  border: 2px solid var(--dark-primary-color);
  color: var(--text-color);
}

#dark .settings .section-settings-right{
  padding: 5px;
  border: 2px solid var(--dark-primary-color);
  border-left: 0px solid black;
  color: var(--text-color);
}

#dark .settings .section-settings{
  padding: 5px;
  border: 2px solid var(--dark-primary-color);
  border-left: 0px solid black;
  color: var(--text-color);

}

#dark .settings .section-settings:hover{
  transform: scale(1.06);
  cursor: pointer;
  color: var(--dark-text-color);
  border-left: 3px solid black;

  border-right: 3px solid black;
}
#dark .settings .section-settings-left:hover{
  transform: scale(1.03);
  cursor: pointer;
  color: var(--dark-text-color);
  border-left: 2px solid var(--dark-primary-color);
  border-right: 3px solid black;
}
#dark .settings .section-settings-right:hover{
  transform: scale(1.06);
  cursor: pointer;
  color: var(--dark-text-color);
  border-right: 2px solid var(--dark-primary-color);
  border-left: 4px solid black;
}

#dark .settings .submit-settings-btn{
  background-color: var(--dark-primary-color);
  font-weight: 400;
  box-shadow: rgb(74, 74, 83);
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  cursor: pointer;
}

#dark .settings input{
  background-color: var(--dark-primary-color-light);
  color:var(--dark-text-color);
  font-weight: 400;
  padding: 10px;
  border: 1px solid var(--dark-primary-color);
  opacity: 0.8;
}

#dark .settings .manage-payment-button{
  background-color: var(--dark-primary-color);
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  border: 2px solid black;
}

#dark .settings .manage-payment-button:hover{
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: ease .1s;
  transform: scale(1.06);
}
#dark .settings .manage-payment-button:active{

  transition: ease .1s;
  transform: scale(0.92);
}

#dark .settings .history-table-title{
  color: var(--dark-text-color);
}



#light .settings hr{
  border-color: white;
}

#light .settings h6,#light .settings h4,#light .settings h5{
  color: var(--color-light);
  font-weight: 600;
 
}

#light .settings h1{
  color: var(--color-light);
 
}
#light .settings .profile-title-txt{
  color: var(--color-light);
}


#light .settings .highlighter{
  color: var(--dark-sidebar-color);
  opacity: 0.8;
}

#light .settings .section-settings-left{
  padding: 5px;
  border: 2px solid var(--primary-color);
  color: var(--dark-primary-color-light);
}

#light .settings .section-settings-right{
  padding: 5px;
  border: 2px solid var(--primary-color);
  border-left: 0px solid gray;
  color: var(--dark-primary-color-light);
}

#light .settings .section-settings{
  padding: 5px;
  border: 2px solid var(--primary-color);
  border-left: 0px solid gray;
  color: var(--dark-primary-color-light);

}

#light .settings .section-settings:hover{
  transform: scale(1.06);
  cursor: pointer;
  border-left: 3px solid gray;
  color: var(--color-light);
  border-right: 3px solid gray;
}
#light .settings .section-settings-left:hover{
  transform: scale(1.03);
  cursor: pointer;
  border-left: 2px solid var(--primary-color);
  border-right: 3px solid gray;
  color: var(--color-light);
}
#light .settings .section-settings-right:hover{
  transform: scale(1.06);
  cursor: pointer;
  border-right: 2px solid var(--primary-color);
  border-left: 4px solid gray;
  color: var(--color-light);
}

#light .settings .submit-settings-btn{
  background-color: var(--primary-color);
  font-weight: 400;
  box-shadow: rgb(74, 74, 83);
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  color: black;
  cursor: pointer;
}

#light .settings input{
  background-color: var(--primary-color-light);
  color:var(--text-color);
  font-weight: 400;
  padding: 10px;
  border: 1px solid var(--primary-color);
  opacity: 0.8;
}

#light .settings .manage-payment-button{
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  border: 2px solid black;
}

#light .settings .manage-payment-button:hover{
  background-color: var(--color-light);
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: ease .1s;
  transform: scale(1.06);
}
#light .settings .manage-payment-button:active{

  transition: ease .1s;
  transform: scale(0.92);
}

/*LEGAL CENTER*/

#dark .legal-nav-bar{
  margin-top: 50px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--dark-sidebar-color);
  border: 1px solid var(--dark-primary-color);
  color: var(--dark-text-color);
  border-radius: 20px;
  padding-right: 50px;
  padding-left: 50px;
}

#dark .legal-nav-bar a{
  color: var(--color-light);
}

#dark .legal .policies-title{
color: var(--dark-text-color);
}

#dark .legal .legal-nav-bar h4{
color: var(--dark-text-color);
}

#dark .legal {
  color: var(--dark-text-color);
  }

  #dark .legal a{
    color: var(--dark-text-color);
    }

#dark .legal hr{
  border-color: var(--dark-sidebar-color);
  }

#dark .legal .highlight-icon{
  color: var(--dark-primary-color);
}

#dark .policy-box{
  display: flex;
  flex-direction: row;
  border: 2px solid var(--body-color);
  padding: 30px;
  border-radius: 20px;
  width: 360px;

  transition: ease-in-out .2s;
}

#dark .policy-box:hover{
  display: flex;
  flex-direction: row;
  border: 2px solid var(--dark-primary-color);
  padding: 30px;
  border-radius: 20px;
  width: 360px;

  transition: ease-in-out .2s;
}

#dark .highlighted-a{
  color: var(--dark-primary-color);
}

#dark .bug-column a{
  padding: 6px;
  width: 49px;    
   border: 2px solid var(--dark-primary-color);
   border-radius: 10px;
  }


  #dark .bug-column a:hover{
    transition: ease-in-out .1s;
    padding: 6px;
    width: 48px;    
     border: 1px solid var(--dark-primary-color);
     border-radius: 10px;
     color: var(--dark-primary-color);
    }

    #dark .bug-column a:active{
    transform: scale(0.94);
    }



#dark .selected-legal{
  background-color: var(--dark-primary-color);
  padding: 5px;
  color: var(--dark-body-color);
  border-radius: 5px;
 
}

#dark .bug-cont{
  display: flex;
  border: 2px solid var(--dark-text-color);
  flex-direction: row;
  width: 1000px;
  padding: 30px;
  justify-content: space-between;
  margin-top: -600px;
  border-radius: 8px;
  transition: ease-in-out .2s;
}

#dark .bug-cont:hover{
  display: flex;
  border: 2px solid var(--dark-primary-color);
  flex-direction: row;
  width: 1000px;
  padding: 30px;
  justify-content: space-between;
  margin-top: -600px;
  border-radius: 8px;
  transition: ease-in-out .2s;
}

#dark .bug-cont2{
  display: flex;
  border: 2px solid var(--body-color);
  flex-direction: row;
  width: 1000px;
  padding: 30px;
  justify-content: space-between;
  margin-top: 120px;
  margin-bottom: 80px;
  border-radius: 8px;
  transition: ease-in-out .2s;
}

#dark .bug-cont2:hover{
  transition: ease-in-out .2s;
  display: flex;
  border: 2px solid var(--dark-primary-color);
  flex-direction: row;
  width: 1000px;
  padding: 30px;
  justify-content: space-between;
  margin-top: 120px;
  margin-bottom: 80px;
  border-radius: 8px;
}

#light .selected-legal{
  background-color: var(--primary-color);
  padding: 5px;
  color: var(--dark-body-color);
  border-radius: 5px;
 
}


#light .legal-nav-bar{
  margin-top: 50px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--sidebar-color);
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  color: var(--color-light);
  padding-right: 50px;
  padding-left: 50px;
}

#light .legal-nav-bar a{
  color: var(--color-light);
}

#light .legal h4,h1,h2,h3,h5,h6{
color: var(--color-light);
}

#light .legal .policies-cont .policies-title{
  color: var(--color-light);
  }
  

#light .legal hr{
  border-color: var(--sidebar-color);
  }

  #light .legal .highlight-icon{
  color: var(--primary-color);
}

#light .policy-box{
  display: flex;
  flex-direction: row;
  border: 2px solid var(--dark-body-color);
  padding: 30px;
  border-radius: 20px;
  width: 360px;

  transition: ease-in-out .2s;
}

#light .policy-box:hover{
  display: flex;
  flex-direction: row;
  border: 2px solid var(--primary-color);
  padding: 30px;
  border-radius: 20px;
  width: 360px;

  transition: ease-in-out .2s;
}

#light .bug-cont{
  display: flex;
  border: 2px solid var(--dark-body-color);
  flex-direction: row;
  width: 1000px;
  padding: 30px;
  justify-content: space-between;
  margin-top: -600px;
  border-radius: 8px;
  transition: ease-in-out .2s;
}

#light .bug-cont:hover{
  display: flex;
  border: 2px solid var(--primary-color);
  flex-direction: row;
  width: 1000px;
  padding: 30px;
  justify-content: space-between;
  margin-top: -600px;
  border-radius: 8px;
  transition: ease-in-out .2s;
}

#light .bug-cont2{
  display: flex;
  border: 2px solid var(--dark-body-color);
  flex-direction: row;
  width: 1000px;
  padding: 30px;
  justify-content: space-between;
  margin-top: 120px;
  margin-bottom: 80px;
  border-radius: 8px;
  transition: ease-in-out .2s;
}

#light .bug-cont2:hover{
  transition: ease-in-out .2s;
  display: flex;
  border: 2px solid var(--primary-color);
  flex-direction: row;
  width: 1000px;
  padding: 30px;
  justify-content: space-between;
  margin-top: 120px;
  margin-bottom: 80px;
  border-radius: 8px;
}


#light .highlighted-a{
  color: var(--color-light);
}

#light .bug-column a{
  padding: 6px;
  width: 49px;    
   border: 2px solid var(--primary-color);
   border-radius: 10px;
  }


  #light .bug-column a:hover{
    transition: ease-in-out .2s;
    padding: 6px;
    width: 48px;    
     border: 1px solid var(--primary-color);
     border-radius: 10px;
     color: var(--primary-color);
    }

    #light .bug-column a:active{
    transform: scale(0.94);
    }
/*Secutity*/
 #dark .security-features-cont h1, #dark .security-features-cont h2, #dark .security-features-cont h3, #dark .security-features-cont h4, #dark .security-features-cont h5, #dark .security-features-cont h6{
 color: var(--dark-text-color);
}
#dark .legal-page-title h1, #dark .legal-page-title h2, #dark .legal-page-title h3, #dark .legal-page-title h4, #dark .legal-page-title h5, #dark .legal-page-title h6{
  color: var(--dark-text-color);
 }
 #dark .bug h5,#dark .bug h2{
  color: var(--dark-text-color);
 }

 #dark .firebase-security h5,#dark .firebase-security h2{
  color: var(--dark-text-color);
 }

#dark .security-box .highlight-icon{
  color: var(--dark-primary-color);
}
#dark .firebase-sec-desc ul{
  margin-top: 30px;
list-style-type: circle;
color: var(--dark-primary-color);
}
/**/
#light .security-features-cont h1,#light .security-features-cont h2,#light .security-features-cont h3,#light .security-features-cont h4,#light .security-features-cont h5,#light .security-features-cont h6{
  color: var(--color-light);
 }

 #light .security-box .highlight-icon{
   color: var(--primary-color);
 }

 #light .firebase-security h5,#light .firebase-security h2{
  color: var(--color-light);
 }



 #light .firebase-sec-desc ul{
   margin-top: 30px;
 list-style-type: circle;
 list-style:var(--primary-color);
 }

 /*FEEDBACK*/
#dark .report-container{
  margin-top: -200px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 800px;
  color: var(--dark-text-color);
}

#dark .report-container .input-txt{
  color: var(--dark-text-color);
  background-color: var(--dark-sidebar-color);
  border: 2px solid var(--dark-primary-color);
  border-radius: 10px;
}

#dark .report-container .inpit-file{
  color: var(--dark-toggle-color);

}


#dark .report-container textarea{
  border: 2px solid var(--dark-primary-color);
  background-color: var(--dark-sidebar-color);
  color: var(--dark-text-color);
}

#dark .report-container .highlighter{
  color: var(--dark-primary-color);
}

#dark #demo-multiple-chip-label{
  color: var(--dark-primary-color);
}
/**/
#light .report-container{
  margin-top: -200px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 800px;
  color: var(--color-light);
}

#light .report-container .input-txt{
  color: var(--dark-body-color);
  background-color: var(--sidebar-color);
  border: 2px solid var(--primary-color);
  border-radius: 10px;
}

#light.report-container .inpit-file{
  color: var(--primary-color);

}


#light .report-container textarea{
  border: 2px solid var(--primary-color);
  background-color: var(--sidebar-color);
  color: var(--dark-body-color);
}

#light .report-container .highlighter{
  color: var(--color-light);
}

#light #demo-multiple-chip-label{
  color: var(--color-light);
}






/* ============SIDEBAR ALL=============== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}

.sidebar header{
    position: relative;
}
.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}
header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}
.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}


.sidebar .menu{
    margin-top: 40px;
}

.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}


.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}
.mode .sun-moon i{
    position: absolute;
}
#dark .mode .sun-moon i.sun{
    opacity: 0;
}

#light .menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
 .menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.home{
    padding-left: 100px;
    top: 0;
    left: 350px;
    width: 100%;
    transition: all 0.3s ease;
  overflow: hidden;
}


#mobile{
  display: none;
}

.landing-page .only-mobile{
  display: none;
}

#login #login-mobile{
  display: none;
}

#reg #login-mobile{
  display: none;
}



@media (max-width: 768px) {
  .sidebar{
    display:none;
  }
  .home{
    padding-left: 0px;
    top: 0;
    width: 100%;  
    transition: all 0.3s ease;

}
.sidebaropener{
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--dark-toggle-color);
  cursor: pointer;
}

.sidebar.close ~ .home{
  left: 0px;
  display: flex;
  width: 100%;
  overflow: hidden;
}
.home .ag-format-container {
  width: 100%;

}
}